<div class="main-layout">
  <div class="container-fluid">
    <div class="custom-card">
      <div class="section">
        <div class="section-header">
          Education
        </div>
        <div class="section-body">
          <div class="section-content">
            <div class="body-header">Bachelor's degree</div>
            <div class="icon-description-container">
              <div class="section-icon bachelor"></div>
              <div class="icon-desc">
                <div class="section-label">Vellore Institute of Technology, Vellore, TN, India</div>
                <div class="section-more">Bachelor of Technology, Electronics and Communication Engineering, CGPA - 7.22/10, Graduated in 2013.</div>
              </div>
            </div>
          </div>
          <div class="section-content">
            <div class="body-header">Master's degree</div>
            <div class="icon-description-container">
              <div class="section-icon master"></div>
              <div class="icon-desc">
                <div class="section-label">New Jersey Institute of Technology, Newark, NJ, USA</div>
                <div class="section-more">Master of Science, Computer Science, GPA - 3.40/4.0, Graduated in May 2020.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="section-header">
          Professional Experience
        </div>
        <div class="section-body">
          <div class="section-content">
            <div class="body-header">Amadeus Software Labs, Bengaluru, India</div>
            <div class="icon-description-container">
              <div class="section-icon amadeus"></div>
              <div class="icon-desc">
                <div class="section-label">Software Engineer, July 2016 to August 2018</div>
                <div class="section-more">Frontend developer working on projects like Amadeus e-Travel Management Mobile, MeRCI and Travel Channel.</div>
              </div>
            </div>
          </div>
          <div class="section-content">
            <div class="body-header">Azureiken Technologies, Bengaluru, India</div>
            <div class="icon-description-container">
              <div class="section-icon azureiken"></div>
              <div class="icon-desc">
                <div class="section-label">Design Engineer, July 2013 to June 2016</div>
                <div class="section-more">Full-stack developer working on compliance, FinTech, e-Commerce and hospitality web applications.</div>
              </div>
            </div>
          </div>
          <div class="button-container">
            <a href="/my-profile/assets/downloads/Tanay_Ghosh_Resume.pdf" download="Tanay_Ghosh_Resume.pdf">
              <div class="button">
                Download my Resum&eacute;
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
